<!DOCTYPE html>
<html>
    <form method="POST" action="/adddoc" enctype="multipart/form-data" >
      <fieldset>
        <legend>Add Document</legend>
          <div class="form-group row">

        <p>Title: <input type="text" name="title"></p>
        <p>Users to label: <input autocomplete="off" id="myInput" type="text" name="labelled" placeholder="Usuario/s">  
              <script src = "autocomplete.js" ></script>
              <script>
                var myJSArray = <%=@users.to_json%>;
                autocomplete(document.getElementById("myInput"), myJSArray);
              </script></p>
        <p>TAGS: 
          <% @categories.each do |category| %>
              <ul>
                  <li>
                      <label> <%=category.name%>
                          <input id="<%=category.name%>" type="checkbox" name="<%=category.name%>" value="<%=category.name%>" >
                      </label>
                  </li>
              </ul>
          <%end%>
        </p>
        <p>Document: <input type="file" name="document" accept="application/pdf"></p>
        <% if @error %>
            <p class="error"><%= @error %></p>
        <% end %>
        <br><br>
        <input type="submit" name="" value="Submit">
    </form>
  </body>
</html>