<!DOCTYPE html>
<html>
  <div style="text-align: center;">
    <div class="page-header">
      <h1 id="navbars" >AGREGAR DOCUMENTO</h1>
    </div>
    <br> 
    <form method="POST" action="/adddoc" enctype="multipart/form-data" >
      <% if defined? errorMessage %>
        <p class="error"><%= errorMessage %></p>
      <% end %>
      <% if @succes %>
        <div class="alert alert-dismissible alert-success justify-content-center" style="text-align: center;">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            <%= @succes %>
          </div>
      <% end %>
      <div class="form-group row align-items-center justify-content-center">
        <label class="col-sm-auto col-form-label">Titulo:</label>
         <div class="col-sm-auto">
          <input type="text" name="title" class="form-control form-control-sm">
        </div>
        <br>
      </div>
      <div class="form-group row align-items-center justify-content-center">
        <label class="col-sm-auto col-form-label">Usuarios a etiquetar:</label>
         <div class="col-sm-auto">
          <input autocomplete="off" id="myInput" type="text" name="labelled" placeholder="Usuario/s" class="form-control form-control-sm">
          <small id="emailHelp" class="form-text text-muted">Ingresar sin espacios y entre "@"</small>
          <script src = "autocomplete.js" ></script>
          <script>
            var myJSArray = <%=@users.to_json%>;
            autocomplete(document.getElementById("myInput"), myJSArray);
          </script>  
        </div>
        <br>
      </div>
      <div class="form-group row align-items-center justify-content-center">
        <legend>TAGS:</legend>
        <br>
        <div class="form-check">
          <% @categories.each do |category| %>
            <label class="form-check-label float-left">
              <input class="form-check-input" type="checkbox" name="<%=category.name%>" value="<%=category.name%>">
              <%=category.name%>
            </label>
            <br>
          <%end%> 
        </div>
        <br>
      </div>
      <div class="form-group row align-items-center justify-content-center">
        <label class="col-sm-auto col-form-label">Documento:</label>
         <div class="col-sm-auto">
          <input type="file" name="document" accept="application/pdf" class="form-control form-control-sm">
        </div>
        <br>
      </div>
      <br>
      <button type="submit" class="btn btn-primary">Cargar</button> 
    </form>
  </body>
</html>