<!DOCTYPE html>
<html>

    <div class="main_content">
        <div class="header">All Documents</div>  
        <div class="info">
          <table>
			<% @documents.each do |doc| %>
		 	 <tr>
		    	<td><%=doc.title %><td><%= doc.date %></td><td><%= doc.tags %></td><%= doc.labelled %></td>
		    	<td><a  href="/view/<%= doc.location %>" target="blank" class="stretched-link text-muted" ></a></td>
		  <% end %>
		  </tr>
		</table>
      </div>
    </div>
</div>

</body>
</html>
	