<!DOCTYPE html>
<html>

    <div class="main_content">
        <div class="header">Todos los documentos</div>  
        <div class="info">
        <form method="POST" action="/docs">
        <p>Seleccione una categoria a filtrar:
           <select id="categories" name="tags" value="">
              <option>Seleccione Tag</option>      
                 <% @categories.each do |category| %>
                    <option value=<%=category.name%>><%=category.name%></option>
                 <%end%>
           </select>
        Seleccione usuario a filtrar:
          <select id="users" name="users">
             <option>Seleccione Usuario</option>            
             <% @users.each do |user| %>
                <option value=<%=user.username%>><%=user.username%></option>
             <%end%>
           </select>
        Seleccione fecha: 
           <input type="date" name="datedoc">
           <input type="submit" name="filter" value="Filtrar">
        </p>      
        <table>
           <% @documents.each do |doc| %>
              <tr>
                 <td><%=doc.title %></td>
                 <td><%= doc.date %></td>
                 <td><a href="/view?path=<%= doc.location %>" target="blank"> Ver</a></td>
                 <%if @admin%>
                    <td><input type="submit" name="del<%=doc.location%>" value="Borrar"></td>
                 <%end%>
             </tr>
          <% end %>
        </table>
        </form>
      </div>
    </div>
</div>

</body>
</html>
      