<!DOCTYPE html>
<html>

  <form method="POST" action="/docs">
    <div class="sticky-top">
    <div class="jumbotron">
      <h3 class="display-2" style="font-size: 40px;">Filtros</h3>
      <p class="lead">
        Busqueda por titulo:
          <input type="text" name="docname" placeholder="Titulo">  
        Seleccione una categoria a filtrar:
          <select id="categories" name="tags" value="">
          <option>Seleccione Tag</option>      
             <% @categories.each do |category| %>
              <option value=<%=category.name%>><%=category.name%></option>
            <%end%>
        </select>
        Seleccione usuario a filtrar:
          <select id="users" name="users">
            <option>Seleccione Usuario</option>            
            <% @users.each do |user| %>
              <option value=<%=user.username%>><%=user.username%></option>
            <%end%>
          </select>
        Seleccione fecha: 
          <input type="date" name="datedoc">
          <button type="submit" class="btn btn-primary" name="filter">Filtrar</button>
      </p>

    </div>
    </div>  
    <table class="table table-hover" style="text-align: center;">
      <thead>
        <tr>
          <th scope="col">Titulo</th>
          <th scope="col">Fecha</th>
          <th scope="col">TAGS</th>
          <th scope="col">Usuarios etiquetados</th>
          <th scope="col">Visualizacion</th>
          <%if @admin%>
            <th scope="col">Elimina</th>
          <%end%>
        </tr>
      </thead>
      <tbody>
        <% @documents.each do |doc| %>
          <tr class="table-primary">
          <td scope="row"><%=doc.title %></td>          
          <td><%= doc.date %></td>
          <td> <%= doc_tags(doc.tags) %></td>
          <td> <%= doc_users(doc.users) %></td>
          <td><a class="btn btn-primary btn" href="/view?path=<%= doc.location %>" target="blank"> Ver</a></td>
          <%if @admin%>
            <td>
              <button type="submit" class="btn btn-primary" name="del<%=doc.location%>">Borrar</button>
            </td>
          <%end%>
          </tr>
        <% end %>
      </tbody>
    </table> 
  </form>
  <ul class="pagination justify-content-center">
    <% if @page > 1 %>
      <li class="page-item"><a class="page-link" href="/docs?page=<%= @page-1 %>">&laquo</a></li>
      <li class="page-item"><a class="page-link" href="/docs?page=<%= @page.-1 %>"><%= @page-1 %></a></li>
    <% end %>
    <li class="page-item active"><a class="page-link" href="/docs?page=<%= @page %>"><%= @page %></a></li>
    <% if @page < @pagelimit  %>
      <li class="page-item"><a class="page-link" href="/docs?page=<%= @page+1 %>"><%= @page+1 %></a></li>
      <li class="page-item"><a class="page-link" href="/docs?page=<%= @page+1 %>">&raquo</a></li>
    <% end %>
  </ul>
</body>
</html>
      