<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-widht, initial-scale=1">
		<title>
			D.A.N.S
		</title>
		<link rel="stylesheet" href="stylelog.css">
	</head>
	<body>
		<div class="page">
			<div class="login"> 
				<form method="POST" action="/">
					<p>Username:  
					<input type="text" name="user" placeholder="Enter Username">
					Password:
					<input type="password" name="pass" placeholder="Enter password">
					<input type="submit" name="Login" value="Login">
					</p>
			</div>
			<h3>
				Don't have an account yet?
			</h3>
			<h4>
				Create one, <br>
				It is fast and easy.
			</h4>
			<br><br>
			<div class="register">
				<table>
				 <% if @error %>
					   <p class="error"><%= @error %></p>
				 <% end %>
				  <tr>
				    <td>
				    	<p>	Name:
				    		<input type="text" name="name">
				    	</p>
				    </td>
				    <td class = "right">	
				 		<p>	Surname:
				    		<input type="text" name="surname">
				    	</p>	
				    	
				    </td>
				  </tr>
				  <tr>
				    <td>
				    	<p> Your Email:
				    		<input type="text" name="email" placeholder="name@example.com">
				    	</p>
						 <% if @errorMail %>
						   <p class="error"><%= @errorMail %></p>
						 <% end %>
				    </td>
				    <td class = "right">		
						<p>	User name:
				    		<input type="text" name="username">
				    	</p>
						 <% if @errorUser %>
						   <p class="error"><%= @errorUser %></p>
						 <% end %>				    	
				    </td>
				  </tr>
				  <tr>
				    <td>
				    	<p> New password:
				    		<input type="password" name="password">
				    	</p>

				    </td>
						 <% if @errorPassLength %>
						   <p class="error"><%= @errorPassLength %></p>
						 <% end %>				    
				    <td class = "right">		
				    		<p> Repeat your password:
				    		<input type="password" name="password2">
				    		</p>
				    </td>
						 <% if @errorPassDif %>
						   <p class="error"><%= @errorPassDif %></p>
						 <% end %>
				  </tr>
				</table>
				<br>
				<input type="submit" name="Sumbit" value="Submit">
			</form>
			</div>
		</div>
		</body>
</html>