<!DOCTYPE html>
<html>
	<div class="main_content">
      <div class="header">TAGS</div>  
    <div class="info">
		<form method="POST" action="/tags" >
	        <p> categorias Suscprito: 
	        <% if @errorcat %>
	        	<%= @errorcat %></p>
	        <% else %>
	            <table>
           			<% @categories.each do |category| %>
              			<tr> <%=category.name%>. </tr>
                 	<%end%>
        		  </table> </p>
        	<%end%> <br><br>
        	<p> Suscribe to:
        		<% if @errortag %>
	        		<%= @errortag %></p>
	        	<% else %>
				  <% @tags.each do |tag| %>
					  <ul><li>
              <label> <%=tag.name%>  </label>
                <input type="checkbox" name="<%=tag.name%>" value="<%=tag.name%>">
            </li></ul>
				  <%end%>
				</p>
	        <br><br>
            <input type="submit" name="suscribe" value="Done">
            <%end%>
            <% if @error %>
	        	<%= @error %></p>
	        <% end %>
	        <p> Unsuscribe to:
        		<% if @errorcat %>
	        		<%= @errorcat %></p>
	        	<% else %>
				  <select id="categories" name="tag" value="">
              			<option selected disabled>Select Tag</option>      
                 		<% @categories.each do |category| %>
                   			<option value=<%=category.name%>><%=category.name%></option>
                 		<%end%>
           		  </select>
				  </p>
	              <br><br>
                  <input type="submit" name="unsuscribe" value="unsuscribe">
                <%end%>
                <% if @error %>
	        	   <%= @error %></p>
	            <% end %>
      	  	</form>
   	  </body>
</html>